body{
    background-color: #efefef;
}

.menu_item:hover {
    /*padding: 20px;*/
    background-color:  #F3F3F3;;
}

.main{
    background-color: white;
    margin: 30px;
}


.btn-publish{
    float:right;
    margin: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.count_info{
    font-size: 12px;
    font-weight: normal;
    color: #999;
    /*float: right;*/
}

.edit_button{
    color: rgb(153, 153, 153);
    font-size: 15px;
}

.question_userName{
    padding-top:10px ;
}
.comment_textBox{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_submit_button{
    float: right;
    margin-bottom: 10px;
}

.comment_count_info{
    top: 16px;
    left: 20px;
    margin: 0;
    font-size: 20px;
}

.custom_hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom_media_heading{
    font-size: 13px;
}

.comment_operate_menu .my_icon{
    font-size: 20px;
    margin-right: 5px;
    color: #999999;
    cursor: pointer;
}
.comment_operate_menu .my_icon:hover{
    color: #499ef3;
    /*background-color:#66afe9;*/
}

.comment_operate_menu .active{
    color: #499ef3;
    /*background-color:#66afe9;*/
}

.inner_comments_box{
    margin: 10px 0px;
    padding-top:10px;
    border:1px solid #eee;
    border-radius: 5px;
}

.inner_comment_dialog_box{
    /*background-color: #8c8c8c;*/
}

.inner_comment_dialog_box .btn{
    margin: 10px 0px;
}

.related_question_ul{
    padding-left: 0;
}
.related_question_ul li{
    margin-bottom: 10px;
}

/*.question_desc_box{*/
    /*line-height: 30px;*/
/*}*/

.my_wechat_img{
    width: 300px;
}

.my_notification_li{
    /*list-style-type:none;*/
    margin-bottom: 30px;
}

.my_label{
    cursor: pointer;
}

.my_flod_icon{
    color: #31b0d5;
    cursor: pointer;
}