body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float:right;
    margin: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.count_info{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.edit_button{
    color: rgb(153, 153, 153);
    font-size: 15px;
}