<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />

</head>
<script type="application/javascript">
    window.onload= function () {
        loadTagCss();
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="edit-part">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起问题
                <span class="glyphicon glyphicon-chevron-right my_flod_icon pull-right" id="hideOrShowIcon" onclick="hideOrShowRules()"></span>
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}"/>
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)：</label>
                    <input type="text" class="form-control" id="title" name="title"  th:value="${title}" placeholder="问题标题（15字以内）">
                </div>
                <div class="form-group col-lg-12" id="question-editor">
                    <label for="description">问题补充(必填,参照右侧提示)：</label>
                    <textarea class="form-control " name="description" id="description" cols="30" rows="10"
                              th:text="${description}" placeholder="问题详情（140字以内）"></textarea>
                </div>
                <script src="../editor.md/editormd.js"></script>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: "250px",
                            placeholder: "问题补充(必填,参照右侧提示)",
                            watch:false,                //默认不打开实时预览。
                            path : "/editor.md/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
                            // toolbarIcons: "simple",  //工具栏图标设置为简易版，完整版比较多，分行显示效果不佳
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <textarea class="form-control" style="resize:none;" rows="1" readonly="true" name="tag" id="tag" th:text="${tag}" placeholder="请在下面的标签栏选择标签..."></textarea>

                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#language" aria-controls="home" role="tab" data-toggle="tab">开发语言</a></li>
                            <li role="presentation"><a href="#frame" role="tab" data-toggle="tab">平台框架</a></li>
                            <li role="presentation"><a href="#server"  role="tab" data-toggle="tab">服务器</a></li>
                            <li role="presentation"><a href="#database" role="tab" data-toggle="tab">数据库</a></li>
                            <li role="presentation"><a href="#tools"  role="tab" data-toggle="tab">开发工具</a></li>
                            <li role="presentation"><a href="#others" role="tab" data-toggle="tab">其他</a></li>
                        </ul>
                        <hr class="custom_hr">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="language">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-C" data-tag="C">C</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Java" data-tag="Java">Java</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Javascript" data-tag="Javascript">Javascript</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Python" data-tag="Python">Python</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-php" data-tag="php">php</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-shell" data-tag="shell">shell</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-html" data-tag="html">html</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-css" data-tag="css">css</span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div role="tabpanel" class="tab-pane" id="frame">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Spring" data-tag="Spring">Spring</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-SpringBoot" data-tag="SpringBoot">SpringBoot</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-SpringMVC" data-tag="SpringMVC">SpringMVC</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Jquery" data-tag="Jquery">Jquery</span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div role="tabpanel" class="tab-pane" id="server">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Tomcat" data-tag="Tomcat">Tomcat</span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div role="tabpanel" class="tab-pane" id="database">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Mysql" data-tag="Mysql">Mysql</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Oracle" data-tag="Oracle">Oracle</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-SqlServer" data-tag="SqlServer">SqlServer</span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tools">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Idea" data-tag="Idea">Idea</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Git" data-tag="Git">Git</span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div role="tabpanel" class="tab-pane" id="others">
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-Algorithm" data-tag="Algorithm">Algorithm</span>&nbsp;&nbsp;&nbsp;
                                <span class="label label-info my_label" onclick="selectTag(this)" id="tag-DataStructure" data-tag="DataStructure">DataStructure</span>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>



                </div>
                <button type="submit" class="btn btn-success btn-publish" >发布问题</button>
            </form>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error!=null}"></div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="rules-part">
            <h3><span class="glyphicon glyphicon-hand-down"></span>问题发起指南</h3>
            ● 问题标题： 请用精简的语言描述您发布的问题，不超过25字 <br> <br>
            ● 问题补充： 详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料
            <br>问题补充输入框支持<a href="https://pandao.github.io/editor.md/">Markdown语法</a>，能更清晰的展示您的代码或者图片。
            <br> <br>
            ● 选择标签： 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字 <br> <br>

            ● 关于积分： 发起一个问题会消耗您 20 个积分，每多一个回复你将获得 5 个积分的奖励，为了您的利益，在发起问题的时候希望能够更好地描述您的问题以及多使用站内搜索功能。<br>


            <br><br>
        </div>

    </div>
</div>

</body>
</html>